body{
    text-align: center;
}

.btn-container{
        display: flex;
      
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 8px solid black;
    justify-content: space-around;
    margin: 2rem;
}
.line-1{
    padding-left : 450px;
    
}

.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.purple{
    background-color: purple;
}
.green{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}